# Private files
v2/
conf/plugins
conf/news_articles
conf/new_account_id.txt
conf/new_model_id.txt
conf/new_world_id.txt
conf/gifts.json
conf/ios_links.json
conf/featured_world.txt
cert/
worlds/
models/
images/
users/
benchmark/
usersSteamLinks/
usersWoolLinks/
userAccounts/
latest.log
logging.txt
metrics/
ios_active_players.csv
launcher_active_players.csv
steam_active_players.csv
total_models.csv
total_worlds.csv
total_players.csv

# private tools
list_world_by_user.js

# private module
modules/
src/bwwool.ts

# Node
node_modules/
