# Private files
conf/plugins
conf/news_articles
conf/world_templates
conf/new_account_id.txt
conf/new_model_id.txt
conf/new_world_id.txt
conf/gifts.json
cert/
worlds/
models/
images/
users/
benchmark/
usersSteamLinks/
usersWoolLinks/
userAccounts/
latest.log
total_worlds.csv
total_models.csv
total_players.csv
active_players.csv

# private tools
list_world_by_user.js

# private module
modules/bwwool.js

# Node
node_modules/
