# Private files
conf/plugins
conf/news_articles
conf/world_templates
conf/new_account_id.txt
conf/new_model_id.txt
conf/gifts.json
conf/new_world_id.txt
cert/
worlds/
models/
images/
users/
usersSteamLinks/
usersWoolLinks/
latest.log

# private tools
list_world_by_user.js

# private module
modules/bwwool.js
modules/update.js

# Node
node_modules/
