<%- include("header", {title: "Worlds"}) %>
	<div class="container mb-5">
		<% worlds.forEach(function(world) { %>
			<%- include("world/show", {world: world}) %>
		<% }); %>
	</div>
<%- include("footer") %>
